h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
body {
    width: 35em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}